body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightskyblue;
}
.box {
  height: 100px;
  width: 300px;
  padding: 40%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box h1 {
  color: blueviolet;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid steelblue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: blue;
  border-radius: 24px;
  transition: 0.25s;
  font-weight: 100;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: green;
}
.A {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(1, 45, 82);
  padding: 5px 5px;
  width: 100px;
  outline: none;
  color: rgb(22, 7, 161);
  transition: 0.25s;
  font-weight: 100;
}
.A:hover {
  background: rgb(5, 221, 77);
  font-style: italic;
  color: aliceblue;
}

.B {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(17, 59, 27);
  padding: 5px 5px;
  width: 100px;
  outline: none;
  color: rgb(18, 18, 151);
  transition: 0.25s;
  font-weight: 100;
}
.B:hover {
  background: rgb(3, 121, 38);
  font-style: italic;
  color: aliceblue;
}
